<div class="row">
<h3 class="pull-left col-md-8 col-xs-6" ng-init="initialize()">Departments Page</h3>
<div class="btn-side pull-right col-md-4 col-xs-6">
	<button class="btn-side-btn col-md-5">
		<span class="btn-name"><h5>Add</h5></span>
	</button>
	<span class="col-md-1"></span>
	<button title="select some items to delete" class="col-md-5 btn-side-btn" ng-disabled="removeBtnDisable" ng-click="removeSelected()">
		<span class="btn-name"><h5>Remove</h5></span>
	</button>
</div>
</div>
<table class="table table-striped table-hover">
	<caption>Academic Departments of ABCD college</caption>
	<thead>
		<tr>
			<th><input type="checkbox" id="checkAllDepartments" ng-model="selectedAll" ng-checked="checkAll" ng-click="checkAllDepartments()"></th>
			<th>Department Name</th>
			<th>Head Of Department</th>
		</tr>
	</thead>
	<tbody ng-init="getDepartments()">
		<tr class="department-row" ng-repeat="d in departments">

			<td><input type="checkbox" ng-checked="selectedAll" ng-model="d.selected" ng-click="toggleChange(d)"></td>
			<td tittle="Department Name" filter="{departmentName:'text'} sortable="'name'" id="{{d.departmentId}}"><span ng-bind="d.departmentName"></span></td>
			<td tittle="Head Of Department" filter="{headOfDepartment:'text'} sortable="'headOfDepartment'" id="{{d.departmentId}}"><span ng-bind="d.headOfDepartment"></span></td>

		</tr>
	</tbody>
</table>